<ul>
    <li class="level1">
        <a href="/home/index">Homepage</a>
    </li>
    <li class="level2">
        <a href="/home/impressum">Impressum</a>
    </li>
    <li class="level2">
        <a href="/home/aboutus">About us</a>
    </li>
    <li class="level1">
        <a href="/user/index">Userverwaltung</a>
    </li>
    <li class="level2">
        <a href="/user/registration">Registration</a>
    </li>
    <li class="level2">
        <a href="/user/login">About us</a>
    </li>
</ul>
